@media (min-width: 980px) and (max-width: 1190px){

}
@media (max-width: 1190px){

    .menu{       
         width: 100%;
    }
@media (min-width: 768px) and (max-width: 979px){
    .navbar-brand{
        width: 100%;
        background-color: rgb(35, 82, 124);
        padding: 9px;
        height: 32px;
    }
    .navbar-toggle{
        float: left;
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-10{
        margin: 0 !important;
        padding: 0 !important;
    }
    .ft-bottom{
        width: 50%;
    }
    .ft-bottom span{
        text-align: left;
    }
    .header-in .col-sm-9{
        width: 100%;
    }
    .nav.navbar-nav{
        position: absolute;
        margin: 0;
    }
    .navbar-brand{
        height: 44px;
    }
    .nav > li > a{
        color: #fff;
    }
    .p-images img{
        width: 80%;
    }
    .support-item img{
        margin-right: 10px;
    }
    .item-medal a{
        margin: 7px 4px;
    }
    #faebook-inner{
        display: none;
    }

    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .product-detail-des{
        width: 100%;
    }
    .slider-images{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .breadcrumb-page{
        padding-left: 10px;
    }
    .p-images img{
        width: 90% !important;
    }

}
@media (min-width: 560px) and (max-width: 767px){

    .navbar-brand{
        width: 100%;
        background-color: rgb(35, 82, 124);
        padding: 9px;
        height: 32px;
    }
    .navbar-toggle{
        float: left;
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-10{
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-3 .producthome-item{
        margin:20px 0 !important;
    }
    .ft-bottom{
        width: 40%;
    }
    .ft-bottom span{
        text-align: left;
    }
    #faebook-inner{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .product-detail-des{
        width: 100%;
    }
    .slider-images{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .breadcrumb-page{
        padding-left: 10px;
    }
    .box-news{
        display: none;
    }
    .box-category{
        display: none;
    }
    .box-category{
        display: none;
    }
    .detail-new p img{
        width: 80%;
        height: 100%;
    }
    .detail-new{
        padding: 5px;
    }
    .conent-bottom .col-sm-3{
        margin: 0 5px;
    }
    .mainbody{
        padding-top: 15%;
    }

}
@media (min-width: 480px) and (max-width: 560px){
    .mainbody{
        padding-top: 47%;
    }
    .navbar-brand{
        width: 100%;
        background-color: rgb(35, 82, 124);
        padding: 9px;
        height: 32px;
    }
    .navbar-toggle{
        float: left;
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-10{
        margin: 0 !important;
        padding: 0 !important;
    }
    .ft-bottom{
        width: 40%;
    }
    #faebook-inner{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .product-detail-des{
        width: 100%;
    }
    .slider-images{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .breadcrumb-page{
        padding-left: 10px;
    }
    .box-news{
        display: none;
    }
    .detail-new p img{
        width: 80%;
        height: 100%;
    }
    .box-category{
        display: none;
    }
    .detail-new{
        padding: 5px;
    }
    .conent-bottom .col-sm-3{
        margin: 0 5px;
    }
    .new-home img{
        width: 100px;
    }
    .navbar-collapse.in {
        margin-top: 15%;
    }
}
@media (max-width: 470px){
     .mainbody{
        padding-top: 47%;
    }
    .navbar-collapse.in {
        margin-top: 15%;
    }
    .navbar-brand{
        width: 100%;
        background-color: rgb(35, 82, 124);
        padding: 9px;
        height: 32px;
    }
    .navbar-toggle{
        float: left;
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-10{
        margin: 0 !important;
        padding: 0 !important;
    }
    .col-sm-3 .producthome-item{
        margin:20px 0 !important;
    }
    .ft-bottom{
        width: 28%;
    }
    .ft-bottom span{
        text-align: left;
    }
    #faebook-inner{
        display: none;
    }

    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }
    .product-detail-des{
        width: 100%;
    }
    .slider-images{
        display: none;
    }
    .img-mobile{
        display: block;
        width: 90%;
        margin: 0 auto 10px auto;
    }
    .img-mobile img{
        width: 90%;
    }

    .breadcrumb-page{
        padding-left: 10px;
    }
    .box-news{
        display: none;
    }
    .box-category{
        display: none;
    }
    .detail-new p img{
        width: 80%;
        height: 100%;
    }
    .box-category{
        display: none;
    }
    .detail-new{
        padding: 5px;
    }
    .conent-bottom .col-sm-3{
        margin: 0 5px;
    }
    .new-home img{
        width: 100px;
    }
}