.slider_chay .next{
    margin-top: -40px;
    margin-right: -20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius:  15px;
}
.slider_chay .prev{
    margin-top: -40px;
    margin-left: -20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius:  15px;
}

#nutthongtin{
   background-color: #efbb20;
   border-radius: 100px;
   border: 2px solid white;
   font-size: 30px;
}
.khungten{
    text-align: center;
}
.khungten h1{
    font-size: 30px;
    font-weight: 900;
    color: black;   
    text-align: center;
}
.khungten hr{
    width: 5%;
    height: 1px;
    border: none;
    background-color: #efbb20;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
        
}
.manu h2{
    color: #efbb20;
    font-size: 30px;
    
}
.manu>a:hover{
    color: black;
}
.bangchon{
    color:#cccccc;
    text-align: center;
    
}
.bangchon a:hover{
    color: #efbb20;
}
.product{
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;;
         
}
.content-new h4{
    color: #efbb20;
}
.content-new hr{
     width: 20%;
     margin-left: 0%;
    height: 2px;
    border: none;
    background-color: #efbb20;

}
.site-contact button{
    background-color: #efbb20;
    color: white;
    width: 200px;
    border-radius: 100px
    
}
.site-contact button:hover{
    color: white;
    background-color: yellow;}
#anhsanpham{
    border-bottom: 3px solid #ccccff;
}
/*#anhsanpham:hover{
    border: 3px solid blue;
}*/
.info p{
    font-size: 25px;
    font-weight: 900;
    color: blue;
    text-align: center;

}
.info{
    display: none;
        width: 89%;
        position: absolute;
    top: 75%;
    height: 25%;
}


/*#anhsanpham:hover{
        -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
}*/
.anhsanpham{
    margin-left: 0%;
    width:114%;
    height: 300px
}
.anhsanpham:hover{
    opacity: 0.3;
      border: 3px solid blue;
}

#bang{
    background-color: white;
    border-right: 10px solid #ebf3f7
}

#khung{
    border: 1px solid black;
     background-color: #ebf3f7;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 4%;
}

#khung h1{
    padding-top: 3%;
    font-size: 28px;
    text-align: center;
    padding-bottom: 2%;
    color: blue;
    font-weight: 600;
}

#khung h2{
    padding-top: 1%;
    font-size: 18px;
    margin-left: 5%;
    padding-bottom: 1%;
    color: blue;
    font-weight: 600;
}
#khung h2:hover{
    font-size: 18px;
    color: #0e1e83;
    font-weight: 900;
}

#slider{
    padding-top: 3%;
    padding-left: 4%;
    padding-bottom: 3%;
}

#carousel-example-generic1{
    padding-top: 2%;
    padding-bottom: 4%;
}

#carousel-example-generic2{
    padding-bottom: 4%;
}
.tab-pane{
    height: 500px;
    background-color: white;
}
.tab-pane{
     text-indent: 30px;
     padding-left: 20px;
      color: black;
    font-size: 14px;
    font-weight: 700;
    
}

#thanhgioithieu>li>a{
    font-size: 20px;
}

#phanbaiviet{
    color: blue;
    font-size: 20px;
    font-weight: 700;
    
}

#noidungbaiviet{
     color: black;
      font-size: 15px;
      text-indent: 5%;
}
#khung ol li{
    color: black;
    font-weight: 700;
    list-style: disc;
}

#noidungbaiviet a{
     color: blue;
    font-weight: 700;
}
#noidungbaiviet a:hover{
    color: #1a248e;
    font-weight: 900;
}
#indam{  
    color: black;
    font-weight: 700;
}